{{/*apiVersion: v1*/}}
{{/*kind: Secret*/}}
{{/*metadata:*/}}
{{/*  name: github-registry*/}}
{{/*type: kubernetes.io/dockerconfigjson*/}}
{{/*data:*/}}
{{/*  .dockerconfigjson: |*/}}
{{/*    token placed here*/}}

